
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<section class="card2">
<section class="hero-section pt-5 pb-0 mb-0">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-PcrzT07s6sstTUDQE5An9U71?se=2024-10-02T10%3A05%3A51Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Df88ddb5e-62aa-46cb-9b35-5a5fdecf72a1.webp&sig=s4t%2Bjrl7CvxkuPHFcTxQhspI75BG13mnal3boxA4%2Brw%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Mar'21 – Apr'19)</p>
        <h5 class="card__heading">Aries</h5>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-RArnOaZOZiVyJuFh2vEB8pHm?se=2024-10-02T10%3A13%3A43Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3De8f2ff38-b055-4c8b-986f-2eda5d77a55a.webp&sig=115nsjwcWE2jGVYZ98FuhqmxnqbAqe47rofWcLmys%2BQ%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Apr'20 – May'20)</p>
        <h3 class="card__heading">Taurus</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-2lSoaCze0ZdphdaQVprxykwa?se=2024-10-02T10%3A16%3A38Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dd813ecc2-0803-40ec-bea3-bc53f4c12696.webp&sig=%2BI1F5GJyrSb/0eeKghPYYb7HRAAmOYiQBDMWsjJTrnE%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(May'21 – Jun'20)</p>
        <h3 class="card__heading">Gemini</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-Z8AIozYE2o5QCjVuAeAm1eCq?se=2024-10-02T10%3A23%3A12Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D6b691d9d-8c09-4966-9375-3c15210c3d0a.webp&sig=Hp6D4a/OamJ/vP%2Bzgl0/LsYzYHaW7Dk1MxwZ2pOS7Wk%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Jun'21 – Jul'22)</p>
        <h3 class="card__heading">Cancer</h3>
      </div>
    </a>
  <div>
</section>

<section class="hero-section pt-5 pb-4">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-svnkkUlEOIQg5KsRZUfdQvj3?se=2024-10-02T10%3A24%3A53Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dccac5b7b-ae86-4591-bfda-70ab1dc8c831.webp&sig=QZ9ud65YBQ38qXmoYuG4IMMk/XLPBmoE5GWWsXRwkE4%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Jul'23 – Aug'22)</p>
        <h5 class="card__heading">Leo</h5>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-Zm27sLNJt5FRVLfNgGSG9qD2?se=2024-10-02T10%3A30%3A42Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D82067eca-3219-4cdf-99a0-7c6dc67e3950.webp&sig=oKQYqdcuTZg9Hn%2BsNCqgy79XfVwHTISI201xRHLbZhU%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Aug'23 – Sep'22)</p>
        <h3 class="card__heading">Virgo</h3>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-MrK0VQgH5yhT6UC5xCTHvngs?se=2024-10-02T10%3A32%3A30Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D9d97fef1-5ae5-4ce1-9492-d01733e3447a.webp&sig=N2T6tiuCH1nnMGEKkkDq6EzkBR72Xy4qDiQGuGEj3c8%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Sep'23 – Oct'22)</p>
        <h3 class="card__heading">Libra</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-yf93a4pslTlEzc2aHKsJzmQd?se=2024-10-02T10%3A34%3A25Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D9aad6c59-0c74-491f-b175-734a88e071a9.webp&sig=EVX0rQ9GWaroMhyvjJdhQ0vMJHLL7NmFqmx9ZiRMzQQ%3D)
      "></div>
      <div class="card__content">
        <p class="card__category">(Oct'23 – Nov'21)</p>
        <h3 class="card__heading">Scorpio</h3>
      </div>
    </a>
  <div>
</section>



<section class="hero-section pt-5 pb-4">
  <div class="card-grid">
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-uyr5N7piQIXqbjA4uLzl53Vy?se=2024-10-02T10%3A48%3A33Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D244965f9-0b46-4fc1-a8f2-60227bd94409.webp&sig=hUbuqeskWGn7nasd94rc1rhlQRdaCvVEbla1yyovZpo%3D)
      "></div>
      <div class="card__content">
        <h3 class="card__category">(Nov'22 – Dec'21)</h3>
        <h5 class="card__heading">Sagittarius</h5>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-NkOG0WxTTjVDTxaiwoasmgp6?se=2024-10-02T10%3A58%3A05Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dc4685831-5316-4a4b-8656-58b56388ec01.webp&sig=NvQ1ZbF2cxY4V5nOwhyMWc6uLHjWOMsIPMc3suRc4MU%3D)
      "></div>
      <div class="card__content">
        <h3 class="card__category">(Dec'22 – Jan'19)</h3>
        <h5 class="card__heading">Capricorn</h5>
      </div>
    </a>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-d0oTkIbG3bZim5GwPWO7nDHg?se=2024-10-02T10%3A51%3A32Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D07eef9c9-8103-4823-8d0a-a86788244af7.webp&sig=YmlDkWadK8hNUJUqsgFECJlWSj6rc5S70lGTsTqpiBc%3D)
      "></div>
      <div class="card__content">
        <h3 class="card__category">(Jan'20 – Feb'18)</h3>
        <h3 class="card__heading">Aquarius</h3>
      </div>
    </li>
    <a class="card" href="#">
      <div class="card__background" style="background-image: url(https://files.oaiusercontent.com/file-vGDikpPrUGJTmxs7mTfzc9q2?se=2024-10-02T10%3A55%3A57Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D630be1f8-b80f-4553-a97d-be1a17e8b408.webp&sig=xWxhLT0d4R41IM43d1uOAEpBKCq7MTOArlfHg4zyvYA%3D)
      "></div>
      <div class="card__content">
        <h3 class="card__category">(Feb'19 – Mar'20)</h3>
        <h3 class="card__heading">Pisces</h3>
      </div>
    </a>
  <div>
</section>
</section>


:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, orangered 150%);
  display: flex;
  min-height: 75%;
  justify-content: center;
  padding: var(--spacing-xl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
